:root {
    --height: 0em;
    --body: #C3E0E5;
    --footer_header: #274472;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Overpass Mono', monospace;
}

li {
    list-style-type: none;
}

body {
    background-color: var(--body);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--footer_header);
    color: var(--body);
}

.usuario {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 10px;
}

.titulos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.datos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img {
    height: 180px;
}

h1 {
    font-size: 45px;
}

.theme {
    position: relative;
    display: block;
    width: 64px;
    height: 32px;
    border-radius: 32px;
    background-color: var(--body);
    transition: 0.5s;
    cursor: pointer;
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
                inset 0 8px 8px rgba(0, 0, 0, 0.1),
                inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}

.theme i {
    position: absolute;
    color: var(--footer_header);
    font-size: 22px;
    top: 5px;
    left: 6px;
    width: 32px;
    height: 32px;
    transition: 0.5s;
}

.theme.activo i {
    left: 40px;
}

.titulos h2 {
    font-size: 30px;
    text-transform: uppercase;
}

.datos p {
    font-size: 20px;
}

article {
    padding: 1em;
    font-size: 18px;
}

.acordeon {
    width: 90%;
    max-width: 120em;
}

.acordeon .bloque {
    margin: 0 0 1em;
    padding: 1em;
}

.acordeon .h2 {
    margin: 0 0 1em;
    cursor: pointer;
    text-transform: uppercase;
}

.acordeon .h2 i {
    margin-right: 1em;
    transition: all .5s ease;
}

.acordeon .contenido {
    height: 0;
    padding: 0;
    overflow: hidden;
    transition: all .5s ease;
    font-size: 18px;
}

.acordeon .bloque.activo .contenido {
    height: var(--height);
    padding: 0 2em;
}

.acordeon .bloque.activo h2 i{
    transform: rotate(180deg);
}

footer {
    background-color: var(--footer_header);
}

.form_dato {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 1em;
}

form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

input {
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: #e8e8e8;
    box-shadow: 1px 1px 4px #c5c5c5,
                -1px -1px 4px #ffffff;
    transition: 0.3s;
}
.input:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5,
                inset -20px -20px 60px #ffffff;
    transition: 0.3s;
   }

textarea {
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: #e8e8e8;
    box-shadow: 1px 1px 4px #c5c5c5,
                -1px -1px 4px #ffffff;
    transition: 0.3s;
}

button {
    font-family: 'Overpass Mono', monospace;
    color: #090909;
    background: #e8e8e8;
    padding: 0.7em 1.7em;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 1rem;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 1px 1px 4px #c5c5c5,
               -1px -1px 4px #ffffff;
}

button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
                inset -4px -4px 12px #ffffff;
   }

.social_media i {
    font-size: 30px;
    padding: 20px;
    color: var(--body);
}




@media (max-width:768px) {
    
    .usuario {
        gap: 30px;
        padding: 10px;
    }
    
    
    img {
        height: 130px;
    }
    
    h1 {
        font-size: 25px;
    }
    
    .titulos h2 {
        font-size: 20px;
    }
    
    .datos p {
        font-size: 15px;
    }

    .theme.activo i {
        left: 34px;
    }
    
    article {
        font-size: 15px;
    }

    .acordeon .h2 {
        font-size: 20px;
    }
    
    .acordeon .contenido {
        font-size: 15px;
    }
    
    
    .form_dato {
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        padding: 1em;
    }
    
    form {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    input {
        padding: 0.5rem;
        border-radius: 0.5rem;
    }
    
    textarea {
        padding: 0.5rem;
        border-radius: 0.5rem;
    }
    
    button {
        padding: 0.5rem 1.5em;
        margin: 0 15px 0 0;
        font-size: 15px;
        border-radius: 0.5rem;
    }
    
    .social_media i {
        font-size: 25px;
        padding: 20px;
        color: var(--body);
    }
}




@media (max-width:425px) {
    .usuario {
        gap: 10px;
        flex-direction: column;
        align-items: baseline;
    }
    
    img {
        height: 100px;
    }
    
    h1 {
        font-size: 20px;
    }

    .theme {
        width: 46px;
        height: 26px;
    }
    
    .theme i {
        font-size: 19px;
        top: 3px;
        left: 3px;
        width: 22px;
        height: 22px;
    }
    
    .theme.activo i {
        left: 26px;
    }
    
    .titulos h2 {
        font-size: 17px;
    }
    
    .datos p {
        font-size: 15px;
    }
    
    article {
        font-size: 15px;
    }
    
    .acordeon .h2 {
        font-size: 15px;
    }
    
    .acordeon .h2 i {
        margin-right: 1em;
        transition: all .5s ease;
    }
    
    .acordeon .contenido {
        font-size: 13px;
    }
    
    .form_dato {
        display: grid;
        grid-template-columns: auto;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        padding: 1em;
    }
    
    form {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
    }
    
    input {
        padding: 0.5rem;
        border-radius: 0.5rem;
    }
    
    textarea {
        padding: 0.5rem;
        border-radius: 0.5rem;
    }
    
    button {
        padding: 0.5rem 1.5em;
        margin: 15px;
        font-size: 15px;
        border-radius: 0.5rem;
    }
    
    .social_media i {
        font-size: 20px;
        padding: 15px;
        color: var(--body);
    }
}